/* ======================= End-PaddingAuto ======================= */

/* ======================= Start-Padding ======================= */
.p-1 {
  padding: 1px !important;
}

.p-6 {
  padding: 6px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-12 {
  padding: 12px !important;
}

.p-14 {
  padding: 14px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-18 {
  padding: 18px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-50 {
  padding: 50px !important;
}

@media (max-width: 912px) and (min-width: 641px) {
  .md-p-30 {
    padding: 30px !important;
  }
}

@media (max-width: 640px) {
  .sm-p-12 {
    padding: 12px !important;
  }

  .sm-p-20 {
    padding: 20px !important;
  }
}

.px-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.px-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.px-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.px-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

@media (max-width: 640px) {
  .sm-px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .sm-px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.py-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.py-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.py-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.py-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.py-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.py-7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.py-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-9 {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.py-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.py-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.py-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

@media (max-width: 640px) {
  .sm-py-13 {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
  }

  .sm-py-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .sm-py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .sm-py-36 {
    padding-top: 36px !important;
    padding-bottom: 36px !important;
  }

  .sm-py-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

@media (max-width: 640px) {
  .sm-pl-1 {
    padding-left: 1px !important;
  }
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

@media (max-width: 640px) {
  .sm-pr-1 {
    padding-right: 1px !important;
  }
}

/* ======================= End-PaddingRight ======================= */

/* ======================= Start-MarginAuto ======================= */
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ======================= End-MarginAuto ======================= */

/* ======================= Start-Margin ======================= */
.m-1 {
  margin: 1px !important;
}

.m-8 {
  margin: 8px !important;
}

.m-11 {
  margin: 11px !important;
}

.m-12 {
  margin: 12px !important;
}

/* ======================= End-Margin ======================= */

/* ======================= Start-MarginSide ======================= */
.mx-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.mx-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.my-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

@media (max-width: 640px) {
  .sm-my-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

/* ======================= End-MarginUpDown ======================= */

/* ======================= Start-MarginTop ======================= */
.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

@media (max-width: 640px) {
  .sm-mt-12 {
    margin-top: 12px !important;
  }

  .sm-mt-15 {
    margin-top: 15px !important;
  }

  .sm-mt-16 {
    margin-top: 16px !important;
  }

  .sm-mt-18 {
    margin-top: 18px !important;
  }
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

@media (max-width: 640px) {
  .sm-mb-1 {
    margin-bottom: 1px !important;
  }

  .sm-mb-5 {
    margin-bottom: 5px !important;
  }

  .sm-mb-14 {
    margin-bottom: 14px !important;
  }

  .sm-mb-15 {
    margin-bottom: 15px !important;
  }
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

@media (max-width: 640px) {
  .sm-mr-10 {
    margin-right: 10px !important;
  }
}

/* ======================= End-MarginRight ======================= */

/* ======================= Start-Container ======================= */
.container {
  max-width: 1300px;
  padding-left: 100px !important;
  padding-right: 100px !important;

  @media (max-width: 1224px) and (min-width: 913px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  @media (max-width: 912px) and (min-width: 641px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  @media (max-width: 640px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.container2 {
  display: flex !important;
  justify-content: center !important;
  margin: 0px auto !important;
  padding: 0 50px !important;

  @media (max-width: 1224px) and (min-width: 913px) {
    padding: 0px 35px !important;
  }

  @media (max-width: 912px) and (min-width: 641px) {
    padding: 0px 20px !important;
  }

  @media (max-width: 640px) {
    padding: 0px 10px !important;
  }
}

.container3 {
  min-width: 1200px !important;
  width: 900px !important;

  @media (max-width: 1224px) and (min-width: 913px) {
    padding: 0px 30px !important;
  }

  @media (max-width: 912px) and (min-width: 641px) {
    padding: 0px 20px !important;
  }

  @media (max-width: 640px) {
    padding: 0px 10px !important;
  }
}

/* ======================= End-Container ======================= */

/* ======================= Start-Display ======================= */
.flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-end {
  justify-content: end !important;
}

.items-center {
  align-items: center !important;
}

.items-start {
  align-items: start !important;
}

.items-end {
  align-items: end !important;
}

.block {
  display: block !important;
}

.hidden {
  display: none !important;
}

.fixed {
  position: fixed !important;
}

.sticky {
  position: sticky !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.top-0 {
  top: 0px !important;
}

.bottom-0 {
  bottom: 0px !important;
}

.left-0 {
  left: 0px !important;
}

.right-0 {
  right: 0px !important;
}

.grid-cols-1 {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.grid-cols-2 {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.grid-cols-3 {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.grid-cols-4 {
  display: grid !important;
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

.grid-cols-5 {
  display: grid !important;
  grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
}

.grid-cols-6 {
  display: grid !important;
  grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
}

.grid-cols-7 {
  display: grid !important;
  grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
}

.gap-3 {
  gap: 3px !important;
}

.gap-4 {
  gap: 4px !important;
}

.gap-6 {
  gap: 6px !important;
}

.gap-7 {
  gap: 7px !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-9 {
  gap: 9px !important;
}

.gap-10 {
  gap: 10px !important;
}

.gap-12 {
  gap: 12px !important;
}

@media (max-width: 912px) and (min-width: 641px) {
  .md-flex {
    display: flex !important;
  }

  .md-flex-column {
    flex-direction: column !important;
  }

  .md-block {
    display: block !important;
  }

  .md-hidden {
    display: none !important;
  }

  .md-grid-cols-1 {
    display: grid !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .md-grid-cols-2 {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .md-grid-cols-3 {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .md-grid-cols-4 {
    display: grid !important;
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }

  .md-grid-cols-5 {
    display: grid !important;
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

@media (max-width: 640px) {
  .sm-flex {
    display: flex !important;
  }

  .sm-flex-column {
    flex-direction: column !important;
  }

  .sm-flex-wrap {
    flex-wrap: wrap !important;
  }

  .sm-justify-start {
    justify-content: start !important;
  }

  .sm-block {
    display: block !important;
  }

  .sm-hidden {
    display: none !important;
  }

  .sm-grid-cols-1 {
    display: grid !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .sm-grid-cols-2 {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .sm-grid-cols-3 {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .sm-grid-cols-4 {
    display: grid !important;
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }

  .sm-grid-cols-5 {
    display: grid !important;
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }

  .sm-gap-1 {
    gap: 1px !important;
  }

  .sm-gap-12 {
    gap: 12px !important;
  }
}

/* ======================= End-Display ======================= */

/* ======================= Start-Zindex ======================= */
.z-10 {
  z-index: 10 !important;
}

.z-20 {
  z-index: 20 !important;
}

.z-50 {
  z-index: 50 !important;
}

.z-99 {
  z-index: 99 !important;
}

.object-cover {
  object-fit: cover !important;
}

.rounded-full {
  border-radius: 50% !important;
}

.rounded-5 {
  border-radius: 5px !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.rounded-20 {
  border-radius: 20px !important;
}

.shadow-sm {
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
}

.b-shadow {
  box-shadow: 0 9px 50px rgba(18, 17, 39, 0.122) !important;
}

/* ======================= End-Shadow ======================= */

/* ======================= Start-Overflow ======================= */
.overflow-hidden {
  overflow: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

/* ======================= End-Filter ======================= */

/* ======================= Start-Width ======================= */
.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-95 {
  width: 95% !important;
}

.w-full {
  width: 100% !important;
}

.w-max {
  width: max-content !important;
}

@media (max-width: 912px) and (min-width: 641px) {
  .md-w-30 {
    width: 30% !important;
  }

  .md-w-70 {
    width: 70% !important;
  }

  .md-w-full {
    width: 100% !important;
  }
}

@media (max-width: 640px) {
  .sm-w-full {
    width: 100% !important;
  }
}

/* ======================= End-Width ======================= */

/* ======================= Start-Height ======================= */
.h-100px {
  height: 100px !important;
}

.h-150 {
  height: 150px !important;
}

.h-200 {
  height: 200px !important;
}

.h-250 {
  height: 250px !important;
}

.h-300 {
  height: 300px !important;
}

.h-350 {
  height: 350px !important;
}

.h-400 {
  height: 400px !important;
}

.h-500 {
  height: 500px !important;
}

.h-full {
  height: 100% !important;
}

@media (max-width: 640px) {
  .sm-h-250 {
    height: 250px !important;
  }

  .sm-h-700 {
    height: 700px !important;
  }
}

.font-200 {
  font-weight: 200 !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

/* ======================= End-FontWeight ======================= */

/* ======================= Start-Clamp ======================= */

[class*="line-clamp"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp1 {
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  -webkit-line-clamp: 2;
}

/* ======================= End-Clamp ======================= */

/* ======================= Start-TextDecoration ======================= */
.dashed {
  text-decoration: dashed !important;
}

.underline {
  text-decoration: underline !important;
}

/* ======================= End-TextDecoration ======================= */

/* ======================= Start-TextTransform ======================= */
.capitalize {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

/* ======================= End-TextTransform ======================= */

/* ======================= Start-TextAlign ======================= */
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

@media (max-width: 640px) {
  .sm-text-center {
    text-align: center !important;
  }
}

/* ======================= End-TextAlign ======================= */

/* ======================= Start-Common ======================= */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-wrap: break-word !important;
  width: 100% !important;
  background: var(--white) !important;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0px;
  padding: 0px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.z-999 {
  z-index: 9999 !important;
}

.dot {
  width: 12px !important;
  height: 12px !important;

  @media (max-width: 912px) and (min-width: 641px) {
    width: 10px !important;
    height: 10px !important;
  }

  @media (max-width: 640px) {
    width: 10px !important;
    height: 10px !important;
  }
}

.center-div {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.icon {
  width: 25px !important;
  height: 25px !important;
}

.icon-lg {
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-img {
  width: 40px !important;
  height: 40px !important;

  @media (max-width: 640px) {
    width: 35px !important;
    height: 35px !important;
  }
}

.h-select {
  height: 40px !important;
  background: var(--white);
}

.h-input {
  height: 40px !important;
  text-indent: 12px !important;
  padding: 0px !important;
  width: 100% !important;
  border-radius: 8px !important;
}

input:focus {
  outline: 0px !important;
  border: 1px solid var(--primary) !important;
}

.h-100 {
  height: 100vh !important;
}

.list-none {
  list-style: none !important;
}

.border-0 {
  border: none !important;
}

.border-ec {
  border: 1px solid #ececec !important;
}

.bordb {
  border-bottom: 1px solid #c4bfbf29 !important;
}

.bordh {
  border-top: 1px solid var(--tertiary) !important;
}

.bordl {
  border-left: 1px solid var(--tertiary) !important;
}

.bordr {
  border-right: 1px solid var(--tertiary) !important;
}

input[type="checkbox"] {
  width: 14px !important;
  height: 14px !important;
  margin: 0px !important;
  cursor: pointer;
  accent-color: var(--primary);
  border: 1px solid var(--gray) !important;
  margin: 0 !important;
  flex-shrink: 0;
  transition: filter 0.2s ease;
}

.bg-transparent {
  background: rgba(255, 255, 56255, 0.2);
}

/* ======================= End-Common ======================= */

/* ======================= Start-Table ======================= */
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background: var(--white);
}

tr:nth-child(even):hover {
  background: var(--forth);
}

.table-w {
  width: 100% !important;
  overflow: auto !important;
}